<h1 class="page-title"><b>Closed-Weather</b></h1>
<p style="margin-left: 50px; color: white">Sample Application for <a style = "text-decoration: none; color: white;" href="https://openweathermap.org/">OpenWeatherMap</a></p>
<div class="card-container">
  <div *ngFor="let weatherData of weatherDataArray">
    <mat-card class="example-card">
      <mat-card-title style="color: white">{{weatherData.name}}</mat-card-title>
      <mat-card-content>
        <img src="http://openweathermap.org/img/w/{{weatherData.weather[0].icon}}.png"/>
        <h3 style="color: white">{{weatherData.weather[0].description}}</h3>
        <h4 style="color: white">Temperature: {{roundTemperature(weatherData.main.temp)}} °C</h4>
      </mat-card-content>
    </mat-card>
  </div>
  <br>
  <br>
</div>
<div class="card-container">
  <input style="border-radius: 5px; padding: 10px; border: none; background-color: #4c4c4c" class="input-field" matInput placeholder="Enter City Name" [formControl]="cityName" />
  <button mat-button color="primary" (click)="addWeatherData()" style="color: white;">Get Weather</button>
</div>
