.example-card {
  max-width: 150px;
  max-width: 200px;
  background-color: #4c4c4c;
  margin-left: 50px;
}

.input-field {
  margin-left: 50px;
}

.card-container {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center
}

.page-title {
  text-align: left;
  margin-top: 50px;
  margin-left: 50px;
  color: white;
}
